.chart {
  div {
    font: 12px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

  rect {
    fill: steelblue;
  }

  &.horizontal {
    display: none;
  }

  .axis {
    text {
      font: 12px sans-serif;
      color: #ff0000;
    }

    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}